@*@model IEnumerable<SafetyRatings.Models.SafetyViewModel>*@

@using SafetyRatings.Models

@model SafetyRatings.Models.SafetyViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Safest Place within 2km Radius</h2>

@using (Html.BeginForm())
{
<div>
    <div>
        <label>Select a place</label>
        <br/>
        @Html.DropDownListFor(model => model.Place,
           new SelectList(Enum.GetValues(typeof(PlaceName))))

    </div>
<br/>
    <div>
        <label>Select a measurement</label>
        <br/>
        @Html.DropDownListFor(model => model.Scores,
            new SelectList(Enum.GetValues(typeof(SafetyScores))))

    </div>
    <br/>
    <div class="form-group">
        <div>
            <input type="submit" value="Get Rating" class="btn btn-info" />
        </div>
    </div>
</div>


}


<div>
    <label>Place Name</label>
    <p>@Html.DisplayFor(model => model.Name)</p>
    <label>Place Type</label>
    <p>@Html.DisplayFor(model => model.SubType)</p>
    <label>Place Safety Rating</label>
    <p>@Html.DisplayFor(model => model.SafetyScore)</p>
    <label>Safety Rating Comment</label>
    <p>@Html.DisplayFor(model => model.safetyComment)</p>
</div>
