@model SafetyRatings.Models.SafetyViewModel

@{
    ViewBag.Title = "Safest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Safest</h2>

<p>@Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayFor(model => model.SubType)</p>
<p>@Html.DisplayFor(model => model.SafetyScore)</p>



@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafetyScore)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SubType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SafetyScore)
    </td>
<td>
        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
    </td>
</tr>
}

</table>*@
